dorag-mcp.localhost {
    reverse_proxy localhost:8001
}

ask-agent.localhost {
    reverse_proxy localhost:5173
}

ask-agent-api.localhost {
    reverse_proxy localhost:3001
}

th-telegram-mcp.localhost {
    reverse_proxy localhost:50001
}

continuum.localhost {
    reverse_proxy localhost:50002
}

continuum-api.localhost {
    reverse_proxy localhost:50003
}

dc-query-api.localhost {
    reverse_proxy localhost:50100
}

retribution.localhost {
    reverse_proxy localhost:50200
}

content-oracle.localhost {
    reverse_proxy localhost:50201
}
