[tools]
node = "22"
pnpm = "9"
pipx = "latest"
"pipx:dotbot" = "1.23"

[tasks.install_tools]
description = "Install dev tools with brew"
run = "brew bundle install"
dir = "dotfiles"

[tasks.setup_keyboard]
description = "Setup keyboard via karabiner"
run = """
pnpm build
launchctl kickstart -k gui/$(id -u)/org.pqrs.service.agent.karabiner_console_user_server
"""
dir = "karabiner"

[tasks.setup_keyboard_laptop]
description = "Setup keyboard via karabiner for laptop"
run = """
pnpm build:laptop
launchctl kickstart -k gui/$(id -u)/org.pqrs.service.agent.karabiner_console_user_server
"""
dir = "karabiner"

[tasks.link_dotfiles]
description = "Link dotfiles"
depends = ['install_tools']
run = "dotbot -c ./dotfiles/install.conf.yaml"

[tasks.apply_duti]
description = "Apply duti settings"
run = "duti defaults.duti"
dir = "duti"

[tasks.setup_env]
description = "Setup environment"
alias = "init"
depends = ['install_tools', 'setup_keyboard', 'link_dotfiles', 'apply_duti']

[tasks.setup_env_laptop]
description = "Setup environment for laptop"
alias = "init_laptop"
depends = ['install_tools', 'setup_keyboard_laptop', 'link_dotfiles', 'apply_duti']
