layout {
    new_tab_template {
        pane split_direction="vertical" {
            pane size=26 borderless=true {
                plugin location="file:~/.config/zellij/plugins/zellij-vertical-tabs.wasm"
            }
            pane
        }
    }
    tab {
        pane split_direction="vertical" {
            pane size=26 borderless=true {
                plugin location="file:~/.config/zellij/plugins/zellij-vertical-tabs.wasm"
            }
            pane
        }
    }
}
